{% extends 'layout.twig' %}

{% block body %}

<h3>Memory pool ({{list.length}})</h3>

<table class="table table-bordered table-striped table-responsive">
	<tr>
		<th>Tx</th>
		<th>Recived</th>
	</tr>
	{% for v in list %}
		<tr>
			<td>
				<a href='/explorer/tx/{{v.hash}}'>{{v.hash}}</a>
			</td>
			<td>
				{{v.time|durationFromTime}}
				ago /
				{{v.time|date}}
			</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}